* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
}

.users-box {
  width: 550px;
  height: 250px;
  border: 2px solid darkgrey;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.user-block {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}